<% for (var i = 0; i < data.time.length; i++) { %>
  <tr>

    <td class="text-center align-top px-auto py-0">
      <% var timeslot = data.time[i][0].split(':');
    var hour = timeslot[0];
    var minute = timeslot[1];
    var period;

    if (minute == 0) {
      if (hour >= 12) {
        period = " pm";
      }  else {
        period = " am";
      }
      if (hour > 12) {
        hour = (hour % 12);
      }  else {
        hour = hour;
      } %>

        <div class="h3 d-block time pr-2">
          <%= hour + ":" + minute %>
            <div class="h5 d-inline align-top text-muted">
              <%= period %>
            </div>
        </div>
        <% } %>
    </td>

    <% for (var k = 0; k < data.days.length; k++) { %>

      <% if(calendarData[k][i][1] == "available") { %>
        <td class="text-center h-100 calendar-tile">
          <div class="h-100 calendar-bg available card">
            <div class="h-100 w-100 noselect" id="<%=data.days[k] + ''+ i%>">
              <div class="btn status-text p-0 btn-grid w-100 h-100 text-left">
                <a class="px-2 btn-action btn-book" data-action="book-receptionist" data-id="<%=data.days[k] + '-'+ data.time[i][0] %>">
                  <i class="fas fa-book pr-1"></i>Book
                </a>
              </div>
              <div class="status-pos status-text px-2 text-available">
                <i class="fas fa-check pr-1"></i>Available
              </div>
            </div>
          </div>
        </td>
        <% } else if(calendarData[k][i][1] == "booked"){ %>
          <td class="text-center h-100 calendar-tile">
            <div class="h-100 calendar-bg unavailable card">
              <div class="h-100 w-100 noselect" id="<%=data.days[k] + ''+ i%>">
                <div class="btn status-text p-0 btn-grid w-100 h-100 text-left">
                  <a class="px-2 btn-action btn-check-in" data-action="check-in" data-id="<%=data.days[k] + '-'+ data.time[i][0] %>">
                    <i class="fas fa-clipboard-check pr-1"></i>Check In
                  </a>
                  <a class="px-2 btn-action btn-book" data-action="cancel" data-id="<%=data.days[k] + '-'+ data.time[i][0] %>">
                    <i class="fas fa-times pr-1"></i>Cancel
                  </a>
                </div>
                <div class="status-pos status-text px-2 text-available">
                  <i class="fas fa-check pr-1"></i>Booked
                </div>
              </div>
            </div>
          </td>
          <% } %>
            <% } %>
  </tr>
  <% } %>
