<%- contentFor('css') %>
<link rel="stylesheet" href="/css/signin.css">


<%- contentFor('body') %>

<div class="" >
  <body>
    The following information is what you have provided for this appointment, please read over it and confirm
    contents:
  </body>
  <ul>
    <b>Appointment Information </b>
    <li>Doctor: <%= data.chosenDoc[0] %> </li>
    <li>Date: <%= data.AppointmentDate[0] %> </li>
    <li>Time: <%= data.AppointmentDate[1] %> </li>
  </ul>
  </div>

  <form class="form-horizontal" action="book_receptionist" method="post" novalidate>
    <% if (Object.keys(errors).length !=0) { %>
      <p class="errors-heading">Oops, please correct the following:</p>
    <ul class="errors-list">
      <% Object.values(errors).forEach(error => { %>
        <li style="color:#e32;"><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>

    <!-- First Name  !--->
    <div class="form-group">
      <label class="col-sm-3 control label" for="FirstName"> <b> First Name </b></label>
      <div class="col-sm-9">
        <div class="form-inline">
            <input class="form-control name" data-val="true" id="FirstName"
              name="FirstName" type="text" value=""/>
        </div>
      <% if (errors.FirstName) { %> <div class="error" style="color:#e32;"><%= errors.FirstName.msg %></div> <% } %>
      </div>
    </div>

    <!-- Last Name !--->
  <div class="form-group">
    <label class="col-sm-3 control label" for="LastName"> <b> Last Name </b></label>
    <div class="col-sm-9">
        <div class="form-inline">
          <input class="form-control name" data-val="true" id="LastName"
            name="LastName" type="text" value=""/>
        </div>
    <% if (errors.LastName) { %> <div class="error" style="color:#e32;"><%= errors.LastName.msg %></div> <% } %>
    </div>
  </div>

  <!-- Health-Care Number  !--->
  <div class="form-group">
  <label class="col-sm-3 control label" for="HealthCareNum"> <b>Health Care Number </b></label>
  <div class="col-sm-9">
      <div class="form-inline">
        <input class="form-control name" data-val="true" id="HealthCareNum"
          name="HealthCareNum" type="text" value=""/>
      </div>
  <% if (errors.HealthCareNum) { %> <div class="error" style="color:#e32;"><%= errors.HealthCareNum.msg %></div> <% } %>
  </div>
  </div>

  <!-- Email address !--->
  <div class="form-group">
  <label class="col-sm-3 control label" for="Email Address"> <b> Email Address *</b></label>
  <div class="col-sm-9">
      <div class="form-inline">
        <input class="form-control name" data-val="true" id="Email Address"
          name="EmailAddress" type="text" value=""/>
      </div>
  <% if (errors.EmailAddress) { %> <div class="error" style="color:#e32;"><%= errors.EmailAddress.msg %></div> <% } %>
  </div>
  </div>

    <!-- Phone Number !--->
  <div class="form-group">
    <label class="col-sm-3 control label" for="Phone Number"> <b> Phone Number *</b> </label>
    <div class="col-sm-9">
        <div class="form-inline">
          <input class="form-control name" data-val="true" id="PhoneNumber"
            name="PhoneNumber" type="text" value=""/>
        </div>
    <% if (errors.PhoneNumber) { %> <div class="error" style="color:#e32;"><%= errors.PhoneNumber.msg %></div> <% } %>
    </div>
  </div>

  <!-- Sex !-->
  <div class="form-group row">
      <div class="form-group col-sm-3" style="margin-left:15px;">
      <label for="selecion1"> <b>Sex</b></label>
      <select class="form-control" id="Sex" name="Sex" >
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>
  </div>

    <!-- Submit Button !--->
  <div class="form-group">
        <div class="col-sm-offset-3 col-sm-3">
            <button type="submit" class="btn btn-primary show-loading-text"
            data-loading-text="Booking..."> <b> Book Appointment </b> </button>
        </div>
  </div>
  </form>
