<%- contentFor('css') %>
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css">

  <%- contentFor('scripts') %>
    <script src="//cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" charset="utf-8"></script>
    <script>
      $(document).ready(function() {
        $('.myTable').DataTable();
      });
    </script>
    <script src="/scripts/profile.js" charset="utf-8"></script>

    <%- contentFor('body') %>
      <div id="modal" class="modal">
        <div id="modal-content" class="modal-content">

          <span id="modal-close" class="close">&times;</span>
          <div id="modal-table">
            
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mx-auto">
        <div class="card col-xl-7 py-5">
          <!-- Header -->
          <div class="header">
            <h4 class="float-left">
              <%= patient[0].fname %>
              <%= patient[0].lname %>
            </h4>
            <h4 class="float-right">ID: <%= patient.healthcarenum %></h4>
          </div>

          <!-- Body -->
          <div class="content">
            <ul class="nav nav-tabs" id="tabs" role="tablist">

              <!-- Tab Headers -->
              <li class="nav-item">
                <a class="nav-link active" href="#profile" data-toggle="tab">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#prescription" data-toggle="tab">Prescriptions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#notes" data-toggle="tab">Notes</a>
              </li>

            </ul>

            <!-- Tab Bodies -->
            <div class="tab-content">

              <!-- Profile Body -->
              <div id="profile" class="tab-pane in active">
                <div class="body-header">
                  <div class="personal-side h-100 w-50 float-left">
                    <h5>Personal</h5>
                    <p>First Name:
                      <%= patient[0].fname; %>
                    </p>
                    <p>Last Name:
                      <%= patient[0].lname; %>
                    </p>
                    <p>Sex:
                      <%= patient[0].sex; %>
                    </p>
                  </div>
                  <div class="contact-side h-100 w-50 float-right">
                    <h5>Contact </h5>
                    <p>Email:
                      <%= patient[0].email %>
                    </p>
                    <p>Phone Number:
                      <%= patient[0].phonenum %>
                    </p>
                  </div>
                </div>
              </div>

              <!-- Prescription Body -->
              <div id="prescription" class="tab-pane">
                <table class="myTable">
                  <thead>
                    <tr>
                      <th>Prescription ID</th>
                      <th>Doctor ID</th>
                      <th>Date</th>
                      <th>Modify</th>
                    </tr>
                  </thead>
                  <tbody>

                    <% for (var i = 0; i < patient.length; i++) { %>
                      <tr>
                        <td>
                          <%= patient[i].prescriptionid; %>
                        </td>
                        <td>
                          <%= patient[i].doctorid; %>
                        </td>
                        <td>
                          <%= patient[i].year + "/" + patient[i].month + "/" + patient[i].day; %>
                        </td>
                        <th>
                          <div class="btn btn-primary btn-view-prescription" data-prescriptionid="<%= patient[i].prescriptionid; %>">
                            Modify
                          </div>
                        </th>
                      </tr>
                      <% } %>
                  </tbody>
                </table>
              </div>

              <!-- Notes Body -->
              <div id="notes" class="tab-pane">
                <table class="myTable">
                  <thead>
                    <tr>
                      <th>Notes</th>
                    </tr>
                  </thead>
                  <tbody>

                    <% for (var i = 0; i < notes.length; i++) { %>
                      <tr>
                        <td>
                          <!-- Accordion card -->
                          <div class="card">

                            <!-- Card header -->
                            <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading<%=i+1%>">
                              <a data-toggle="collapse" href="#collapse<%=i+1%>" aria-expanded="true" aria-controls="collapse<%=i+1%>">
                                <h5 class="mb-0 white-text text-uppercase font-thin">
                                          <%= notes[i].title %> <i class="fa fa-angle-down rotate-icon float-right"></i>
                                      </h5>
                              </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapse<%=i+1%>" class="collapse show" role="tabpanel" aria-labelledby="heading<%=i+1%>">
                              <div class="card-body mb-1 rgba-grey-light white-text">
                                <%= notes[i].note %>
                              </div>
                            </div>
                          </div>
                          <!-- Accordion card -->
                        </td>

                      </tr>
                      <% } %>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
